@{
    ViewBag.Title = "Contact";
}
<h2><strong>@ViewBag.Message</strong></h2>

<address>
    My Work Address: <br />
    One Campus Martius <br />
    1050 Woodward Ave.<br />
    Detroit, MI 48226-106<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support Team:</strong>   <a href="mailto:Dontemailme@example.com">Support@dontemailme.com</a><br />
    <strong>Marketing Team:</strong> <a href="mailto:Dontemailme@example.com">Marketing@dontemailme.com</a>
</address>