@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to GC Coffee</h2><br />
    <h2>Shop! @Html.ActionLink("Registration", "Registration", "Home")</h2>

    <h3>Click @Html.ActionLink("here", "OrderMenu", "Home") to order coffee</h3>
</div>
